html, body, h1 {
  margin: 0px;
  padding: 0px;
  border: 0px;

}


h1 {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #FFFFFF;
  font-size: 65px;
  float: left;
  padding-left: 3%;
  padding-top: 3%;

}

body, html {
  height: 100%;
}

.menu {
  float: right;
  padding-right: 3%;
  padding-top: 3%;
  width:50%;
}

.menuItem {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #FFFFFF;
  font-size: 35px;
  float: right;
  padding-left: 5%;
  text-decoration:none;
}

.footer {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #555555;
  font-size: 12px;
  text-align:center;
  margin: 0px;
  border: 0px;
  padding: 2px;
}

p {
  margin: 0px;
  border: 0px;
  padding: 2px;
}

a {
	text-decoration:none;
	color: inherit;

}

a:hover {
  color: #464646;
}


.header {
  width: 100%;
  height: 250px;
  background-image: url(Images/Background/WarmAndBreezy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0px;
  padding: 0px;
  border: 0px;
  position:
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 32px;
  margin: 5px;
  padding: 0px;
  border: 0px;
}

.content {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #555555;
  text-align:center;
}

.content img {
  width: 90%;
  max-width: 900px;
  height: auto;
}

.content p {
  width:90%;
  max-width:900px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  line-height: 1.5em;
}

.painting {
  margin-top: 50px;
  margin-bottom: 50px;
}

.thirds {
  width: 300px;
  height: auto;
}
